################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DataBaseModel/.vs/DataBaseModel/v15
/DataBaseModel/DataBaseModel/bin/Debug
/DataBaseModel/DataBaseModel/obj/Debug
/DataBaseModel/packages
/DataBaseModel/DataBaseModel.sln
/DataBaseModel/CalculationModule/bin/Debug
/DataBaseModel/CalculationModule/obj/Debug
/DataBaseModel/TestApplication/bin/Debug
/DataBaseModel/TestApplication/obj/Debug
/DataBaseModel/CalculationModule/obj/Release
/DataBaseModel/CalculationModule/bin/Release
/DataBaseModel/DataBaseModel/bin/Release
/DataBaseModel/DataBaseModel/obj/Release
/DataBaseModel/Demostration/bin
/DataBaseModel/Demostration/obj
/DataBaseModel/FirstServer/FirstServer/bin
/DataBaseModel/FirstServer/FirstServer/obj
/DataBaseModel/FirstServer/.vs/FirstServer/v15
/DataBaseModel/Package/.vs/Package/v15
/DataBaseModel/Package/Package/bin
/DataBaseModel/Package/Package/obj
/DataBaseModel/DataBaseModel/CalculationModule/bin
/DataBaseModel/DataBaseModel/CalculationModule/obj
/DataBaseModel/DataBaseModel/.vs/DataBaseModel/v15
/.vs
/DataBaseModel/DataBaseModel/DataBaseModel/bin
/DataBaseModel/DataBaseModel/DataBaseModel/obj
/DataBaseModel/DataBaseModel/FirstServer/.vs/FirstServer/v15
/DataBaseModel/DataBaseModel/FirstServer/FirstServer/bin
/DataBaseModel/DataBaseModel/FirstServer/FirstServer/obj
/DataBaseModel/DataBaseModel/Package/.vs/Package/v15
/DataBaseModel/DataBaseModel/Package/Package/bin
/DataBaseModel/DataBaseModel/Package/Package/obj
/DataBaseModel/DataBaseModel/packages
/DataBaseModel/DataBaseModel/TestApplication/bin/Debug
/DataBaseModel/TestApplication/obj/Release
/DataBaseModel/DataBaseModel/TestApplication/obj/Debug
