################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DataBaseModel/.vs/DataBaseModel/v15
/DataBaseModel/DataBaseModel/bin/Debug
/DataBaseModel/DataBaseModel/obj/Debug
/DataBaseModel/packages
/DataBaseModel/DataBaseModel.sln
/DataBaseModel/CalculationModule/bin/Debug
/DataBaseModel/CalculationModule/obj/Debug
/DataBaseModel/TestApplication/bin/Debug
/DataBaseModel/TestApplication/obj/Debug
/DataBaseModel/CalculationModule/obj/Release
/DataBaseModel/CalculationModule/bin/Release
/DataBaseModel/DataBaseModel/bin/Release
/DataBaseModel/DataBaseModel/obj/Release
/DataBaseModel/Demostration/bin
/DataBaseModel/Demostration/obj
